// colors
$primaryColor: #16a085;
$secondaryColor: #1abc9c;
$bgColor: #fff;

// text colors
$primaryTextColor: #fff;
$secondaryTextColor: #16a085;

// text sizes
$smallestSize: 12px;
$smallTextSize: 14px;
$normalTextSize: 16px;
$bigTextSize: 24px;
$biggerTextSize: 36px;
